<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LocalAddr" value="192.168.10.10" />
    <add key="LocalAddrPort" value="8888" />
    <add key="DeviceAddr" value="192.168.10.188" />
    <add key="DeviceAddrPort" value="9999" />
    <add key="FilterOrNot" value="0" />
    <add key="HandleServerAddr" value="127.0.0.1" />
    <add key="ColorBlockNum" value="8" />
    <add key="MultipleCount" value="1" />
    <add key="DataSource" value="sleep.db" />
    <add key="DeviceUploadInterval" value="4" />
    <add key="SleepCheckInterval" value="3600" />
    <add key="LoginUserId" value="2" />
    <add key="SleepTimeTotal" value="43200" />
    <add key="DisplayCoefficient" value="1.1" />
    <add key="Num_k" value="0.0338" />
    <add key="Num_b" value="25.022" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>